<!DOCTYPE html>
<html lang="en" class = "absolute inset-0 -z-10 h-full w-full px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#e0f7fa_40%,#dcf235_100%)]">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/RF.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class ="HomeContent">
        {% block content %}
        
        {% endblock %}

        <a href="/">Home</a>
    </div>

    <!--Removes autocomplete for all forms-->
    <script src="{{ url_for('static', filename='js/autoCompleteOff.js') }}"></script>


</body>

</html>
