{% extends 'layouts/base.html' %}

{% block title %}Available Logs for Login{% endblock %}

{% block content %}
    <h1>Available Logs for Login</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for date in dates %}
            <tr>
                <td>{{ date }}</td>
                <td><a href="/daily_login_report/{{ date }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
