{% extends 'layouts/base.html' %}

{% block title %}All Gym Logs{% endblock %}

{% block content %}
    <h1>All Gym Logs</h1>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Student ID Number</th>
                <th>PE Course</th>
                <th>Enrolled Block</th>
                <th>Date and Time of Last Gym </th>
                <th>Total Workout Time (minutes)</th>
                <th>Status</th>
                <th>User Stats</th>
                <th>Toggle Status</th>
            </tr>
        </thead>
        <tbody>
            {% for log in all_logs %}
            <tr>
                <td>{{ log.full_name }}</td>
                <td>{{ log.student_id }}</td>
                <td>{{ log.pe_course }}</td>
                <td>{{ log.enrolled_block }}</td>
                <td>{{ log.last_gym }}</td>
                <td>{{ log.total_workout_time | round }}</td>
                <td>
                {% if log.status == 'online' %}
                        <b class ="font-bold">{{ log.status }}</b>
                    {% else %}
                        {{ log.status }}
                {% endif %}
                </td>
                <td><a href = "/individual_stats/{{log.student_id}}">View Stats</a></td>
                <td>
                    <form action="{{ url_for('login') }}" method="POST">
                        <input type="hidden" name="rfid" value="{{ log.rfid }}">
                        <button type="submit">Toggle Status</button>
                    </form>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

