<html>
<head>
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Template</h1>
        </header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="gym_info">All Users</a></li>
                <li><a href="login">Authenticate</a></li>
                <li><a href="stats_route">Check User Stats</a></li>
                <li><a href="daily_login_report">Daily Logins</a></li>
            </ul>
        </nav>
        <section>
            <h2>Home</h2>
            <p>Welcome to the home page.</p>
        </section>
        <footer>
            <p>&copy; 2018</p>
        </footer>
    </div>
</body>
</html>