{% extends 'layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% from "helpers/_formhelpers.html" import render_field %}

<form method="post" id="autoSubmitInput" action="{{ url_for('login') }}">
    <dl>
        {{ render_field(form.rfid) }} 
    </dl>
    <p><input type="submit" value="Register"></p>
</form>

<script src="{{ url_for('static', filename='js/formHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/time.js') }}"></script>
{% endblock %}
