{% extends 'layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% from "helpers/_formhelpers.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


<form method="post" id="autoSubmitInput" action="{{ url_for('login') }}">
    <dl>
        {{ render_field(form.rfid) }} 
    </dl>
    <p><input type="submit" value="Login"></p>
</form>

{{message}}

<script src="{{ url_for('static', filename='js/formHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/time.js') }}"></script>

<li><a href="register">Register</a></li>
<li><a href="gym_info">All Users</a></li>
<li><a href="stats_route">Check User Stats</a></li>
<li><a href="daily_login_report">Daily Logins</a></li>

{% endblock %}
