{% extends 'layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% from "helpers/_formhelpers.html" import render_field %}
<form method="post" class="max-w-sm mx-auto" id="autoSubmitForm">
    <div class="mb-5">
        <label for="full_name" class="form-label">Your full name</label>
        {{ render_field(form.full_name, class="form-input") }}
    </div>
    <div class="mb-5">
        <label for="student_id" class="form-label">Your student ID</label>
        {{ render_field(form.student_id, class="form-input") }}
    </div>
    <div class="mb-5">
        <label for="pe_course" class="form-label">Your PE course</label>
        {{ render_field(form.pe_course, class="form-input") }}
    </div>
    <div class="mb-5">
        <label for="enrolled_block" class="form-label">Enrolled Block</label>
        {{ render_field(form.enrolled_block, class="form-input") }}
    </div>
    <div class="mb-5">
        <label for="rfid" class="form-label">Your RFID</label>
        {{ render_field(form.rfid, class="form-input", id="rfid") }} <!-- Unique ID for RFID -->
    </div>
    <button type="submit" class="submit-button">Register</button>
</form>

<script>
    function autoSubmitForm() {
        const inputField = document.getElementById('rfid'); // Unique ID for RFID input field
        const form = document.getElementById('autoSubmitForm'); // Correct form ID

        inputField.addEventListener('input', function() {
            if (inputField.value.length >= 10) {
                form.submit(); // Submit the form when input exceeds 10 characters
            }
        });
    }
    
    autoSubmitForm();
</script>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
