{% extends 'layouts/base.html' %}

{% block title %}Check Stats{% endblock %}

{% block content %}
{% from "helpers/_formhelpers.html" import render_field %}

<form method="post" id="autoSubmitInput" action="{{ url_for('stats_route') }}">
    <dl>
        {{ render_field(form.rfid , class='w-full h-10 p-2 border border-gray-300 rounded')  }}
    </dl>
    <p><input type="submit" value="Check Stats"></p>
</form>

<script src="{{ url_for('static', filename='js/formHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/time.js') }}"></script>

{% endblock %}