{% extends 'layouts/base.html' %}

{% block title %}User Authentication{% endblock %}

{% block content %}
<body>
    <h1>{{ message }}</h1>
    <h2>{{ message2 }}, {{ user.full_name }}!</h2>
    <p><strong>Student ID:</strong> {{ user.student_id }}</p>
    <p><strong>PE Course:</strong> {{ user.pe_course }}</p>
    <p><strong>Enrolled Block:</strong> {{ user.enrolled_block }}</p>
    <p><strong>Current Status:</strong> {{ user.status }}</p>
    <p><strong>Last Gym Session:</strong> {% if user.last_gym %} {{ user.last_gym }} {% else %} N/A {% endif %}</p>
    <p><strong>Total Workout Time:</strong> {{ user.total_workout_time }} minutes</p>
    <p><strong>Total Workout Sessions:</strong> {{ user.completed_sessions }} </p>

    <h2> Redirecting to home in 5 seconds...</h2>
    <script>
        setTimeout(function(){
            window.location.href = '/';
        }, 5000);  // Redirect after 5 seconds
    </script>
{% endblock %}
